[2021-02-18 18:52] whisky-actual opened #1 "Clipping of the JF-17 with the JAS39 body"
I am assuming that the x-y-z needs to be adjusted so the left and right sides of the cockpit does not clip the airframe.

[2021-02-21 13:34] whisky-actual opened #2 "Add hardpoints for TGP and integrated EWS"
Currently need to move the stations around to make the cheek work for TPod. Then add a new station for the centerline.

[2021-02-21 13:36] whisky-actual opened #3 "Need to update UVM right aileron"
Currently small issue with it see Discord for pictures.

[2021-02-21 13:37] whisky-actual opened #4 "Replace the aim120D with the meteor and the aim9x with the iris-t"
User will need to choose between the 2 models. Would be nice to have both.

[2021-02-21 13:39] whisky-actual opened #5 "Add all the proper ordinance"
Will need to check what's available for each station.

[2021-02-21 13:40] whisky-actual opened #6 "New base texture with updated roughmap and UV"
New textures, possible 4k?

[2021-02-21 13:41] whisky-actual opened #7 "Cockpit for Gripen"
Would be nice to add a special menu and have the option to select between the default and grey cockpit.

[2021-02-21 13:43] whisky-actual opened #8 "Have the canards maped with different arguments"
So we can animate them on landing for braking.

[2021-02-21 13:46] whisky-actual opened #9 "Add all positions lights, taxi,strobes and navigation"
Have them mapped so we can activate them in the JF-17 cockpit

[2021-02-21 13:48] whisky-actual opened #10 "Fix the AAR"
Find a way to to map the arguments so we can AAR.

[2021-02-21 13:52] FatSpacePanda commented on #3
Both ailerons

[2021-02-21 13:52] whisky-actual opened #11 "Add new menus, icons and UI"
Maybe we want to update the look of the menus and also the UI for the re-arming page.

[2021-02-21 13:53] FatSpacePanda opened #12 "Model floating"
Wheels do not connect with the ground with latest model

[2021-02-21 13:53] whisky-actual opened #13 "Adjust the canopy and nose geometry"
Make the canopy more round and the nose more pointy.

[2021-02-21 14:05] FatSpacePanda commented on #9
Position and taxi/landing are working. edit: Nav lights are working

[2021-02-21 18:46] FatSpacePanda commented on #1
fixed

[2021-02-21 18:56] FatSpacePanda commented on #8
We need to figure out if the jf17 uses the same argument for deployning and dropping the brake chute. Or if there are two different.
CHUTE_PLAYER_DEPLOY = 611, value <=0 = no chute, value 1 = chute deployed
CHUTE_PLAYER_SHOW   = 612, value less than 0 = arg 611 has no effect, chute is gone

[2021-02-21 18:58] FatSpacePanda commented on #12
I have tried to change gear_pos without success

[2021-02-21 19:00] FatSpacePanda commented on #11
Doubletap made some files for a UI, background, icon and music

[2021-02-21 19:01] FatSpacePanda commented on #5
Just to add: What weapons we can put on the plane without issues with SMS system and what pylons can carry what. Guessing pylons are limited by weight IRL

[2021-02-21 22:02] currenthill opened #14 "Replace gun with BK 27 and correct ammo"
Replace the JF-17 Gsh23 with BK 27 (Akan m/85) gun with the correct ammo type and combination.

[2021-02-21 22:04] currenthill opened #15 "Implement choice between gun ammo types"
Implement the choice between Gripens combat mix and the newer FAP (frangible armour piercing) shells.

[2021-02-21 23:37] whisky-actual opened #16 "New sounds for Bitching Betty"
Add new custom sounds for the cockpit warnings.

[2021-02-22 01:25] FatSpacePanda opened #17 "Fins of agm 88 harm is clipping pylon when x2 on one pylon"

[2021-02-22 03:12] whisky-actual commented on #11
Yup, I've added them in the alpha!

[2021-02-22 03:13] whisky-actual commented on #8
I guess you and Neon figure that out. I'll try to help the best I can!

[2021-02-22 07:15] FatSpacePanda opened #18 "Find older version of the model"
Older version of the gripen model did not float and AAR Probe was in the correct place

[2021-02-22 19:56] currenthill commented on #14
Gun work is done. Need somewhere to place the lua updates.

[2021-02-22 19:57] currenthill commented on #15
Gun work is done. You can now choose ammo type, AM BAND 06 or AM BAND 07 which are the Swedish ammo configurations. Need somewhere to put the updated lua files.

[2021-02-22 19:58] FatSpacePanda commented on #14
We are working on a good solution to share files worked on

[2021-02-23 00:02] whisky-actual commented on #15
Great job, maybe you can post the file name then you can copy paste the code directly into it! If it's a new files I sent you some info on Discord.

[2021-02-23 00:04] whisky-actual commented on #14
What's the file name you can make the edits directly here if you want. I'll try to give you a few hints how to do this. If not you can pm the file and I'll put it up.

[2021-02-23 01:55] whisky-actual commented on #9
I guess you have the latest stuff, definately need to add this stuff :)

[2021-02-23 08:49] DoubleTap37 commented on #7
I think this can be done via the options menu in the UI, I'll have a look this evening and get back to you.

[2021-02-23 08:51] DoubleTap37 commented on #18
I have a model that's not floating, still has the cockpit clipping in it, but I guess you could try and fix that. I'll send it to you later this evening.

[2021-02-23 08:54] DoubleTap37 commented on #6
I'm currently working on a new skin set, with new realistic screws, rivets, weathering lines, details etc. I'll upload a PSD template for it, for everyone to have a look at / use for their own skin versions.

[2021-02-23 15:24] currenthill opened #20 "Update drop tanks to correct specs"
Make sure the 1100 and 1700 liters drop tanks are configured to specification.

[2021-02-24 18:24] #14 closed, assigned to currenthill

[2021-02-24 18:24] #15 closed, assigned to currenthill

[2021-02-24 18:26] whisky-actual commented on #6
Keep us posted, looking forward to this!

[2021-02-24 18:27] whisky-actual commented on #7
I know we can do it, if you can't figure it out I'll look also!

[2021-02-24 18:28] whisky-actual commented on #14
Can we close this issue?

[2021-02-25 03:25] whisky-actual opened #21 "Modify the README"
I will all the list of contributors and also a few items like how to install and the roadmap

[2021-02-25 14:29] whisky-actual commented on #18
I also have it, do you want me to replace it on GitHub?

[2021-02-25 14:30] whisky-actual commented on #1
Can you merge the the new fix if not just pm me the fix

[2021-02-25 14:34] whisky-actual commented on #3
Was this completed?

[2021-02-25 14:41] whisky-actual commented on #17
Did we fix this?

[2021-02-25 15:39] Ulvar40 commented on #12
Strange! I dont have that  on my installation and I downloaded from the last link on the DCS forum.

[2021-02-25 15:44] Ulvar40 commented on #16
One possibility is that we record our own sound! But do we have any information all the voice is a male?

[2021-02-25 15:47] FatSpacePanda commented on #12
I used an older version of the model on that link, new model has more working features but collision box is a bit off

[2021-02-25 16:53] whisky-actual commented on #16
Yep a video that Double Tap posted on the discord.

[2021-02-25 19:16] FatSpacePanda commented on #9
got lights to work with current build

[2021-02-25 19:29] whisky-actual commented on #9
Good, was this with the correct model. You can take the one in the FC3 it is the one not floating, but without the good Arg.

[2021-02-25 23:40] FatSpacePanda commented on #17
No we would need another shape for ld-10. I say we either remove the double ld10 or leave it, for now

[2021-02-25 23:41] FatSpacePanda commented on #9
this was with floating model

[2021-02-25 23:42] FatSpacePanda commented on #3
no

[2021-02-26 13:21] whisky-actual commented on #9
Get the model from the FC3 folder and try it out. It works with the F15, should be ok with the JF-17 also

[2021-02-26 13:24] whisky-actual commented on #17
I am pretty sure we can adjust the position... Someone fixed the meteor on discord. Try @everyone and ask :)

[2021-02-26 18:29] FatSpacePanda commented on #17
that was me. The fins on the harm are too large

[2021-02-26 23:51] whisky-actual commented on #17
Ok 1 per pylon will that work?

[2021-02-27 02:07] FatSpacePanda commented on #17
Yes one works fine. Its just the two that gets too wide when they sit next to each other

[2021-02-27 12:06] whisky-actual commented on #17
Ok, I know the F18 and F16 can only have 1 per pylon... We should do the same for the JAS39

[2021-02-27 15:12] FatSpacePanda commented on #17
I will remove the 2x harms

[2021-02-27 15:12] #17 closed, assigned to FatSpacePanda

[2021-02-27 16:56] FatSpacePanda opened #23 "Rework jf17 mfds and hud to look like gripen"

[2021-02-27 16:58] FatSpacePanda opened #24 "Skins and template"
Continue working on skins and psd templates

[2021-02-27 17:00] FatSpacePanda opened #25 "3D modeling of new gripen model + animations"

[2021-02-27 17:07] FatSpacePanda commented on #4
Metor is added right? can we close this?

[2021-02-27 17:07] FatSpacePanda commented on #5
wip

[2021-02-27 17:12] FatSpacePanda commented on #12
currently working on a new collision shell

[2021-02-27 17:26] whisky-actual commented on #23
Do you have any source data? Maybe double tap can help out

[2021-02-27 20:14] Ulvar40 commented on #16
First version

[Pullup.zip](https://github.com/whisky-actual/Community-JAS-39-C/files/6055312/Pullup.zip)

[2021-02-27 20:35] whisky-actual commented on #4
Can you help me to add them to the FC3 mod? Is there a way not to overwrite the 120c ?

[2021-02-27 20:42] whisky-actual commented on #5
@FatSpacePanda coordinate with @currenthill we should finish this task first it's and easy one and with that out of the way we can focus with the rest!

[2021-02-27 23:27] whisky-actual opened #26 "Add brake axis to FC3 module"
Need to add an axis for the brakes for the Gripen using the SFM, avionics are from the F15

[2021-02-28 00:40] whisky-actual commented on #7
@DoubleTap37 did you figure it out? How to add this without overwriting the JF-17 files?

[2021-02-28 08:30] Ulvar40 commented on #23
![2560-3833-By-Angad](https://user-images.githubusercontent.com/79517219/109412335-9a4a6c00-79a7-11eb-9e63-30ecf9aadf43.jpg)
![zaJuyTX](https://user-images.githubusercontent.com/79517219/109412336-9ae30280-79a7-11eb-8d8e-59ea8ea33c44.jpg)

[2021-02-28 08:31] Ulvar40 commented on #23
But... I found a lot of pictures that might indicate that the export version have different colors in the MFD´s

[2021-02-28 10:50] currenthill commented on #5
We could go authentic or get wild and modernize some of it. Or both, as separate versions.

This is the weaponry the Swedish 39C has been certified for during its current lifespan.

![JAS 39C Gripen Swedish Loadout](https://user-images.githubusercontent.com/69079101/109415744-c02d3c00-79ba-11eb-9868-7e340a2dd32f.png)

This is what I would suggest for a more modernized configuration. I started with

[2021-02-28 11:03] whisky-actual commented on #23
@Ulvar40 if you have high resolution versions drop them in the pictures sections of the document on the GitHub

[2021-02-28 12:03] #18 closed, assigned to whisky-actual

[2021-02-28 12:03] #12 closed, assigned to whisky-actual

[2021-02-28 12:33] currenthill commented on #20
Specifications are updated and commited.

[2021-02-28 12:33] #20 closed, assigned to currenthill

[2021-02-28 12:38] currenthill opened #27 "Update the amount off chaff/flares"
Update the amount of chatt/flares in accordance with available sources.

[2021-02-28 12:38] currenthill commented on #27
Updated and commited.

[2021-02-28 12:38] #27 closed, assigned to currenthill

[2021-02-28 16:47] FatSpacePanda commented on #1
Its already merged but its not perfect, its a tradeoff between clipping in the sides and infront of the hud glass. Right now there is no clipping at the front and some clipping when moving your head close to the sides. It can probably be improved since you dont look behind the glass very often

[2021-02-28 16:48] FatSpacePanda commented on #10
Now we just have to tweak the positioning. its too far down atm. I can do it tonight

[2021-02-28 16:48] #8 closed, assigned to nobody

[2021-02-28 20:59] DoubleTap37 commented on #24
New Template and skins uploaded!

[2021-02-28 20:59] #24 closed, assigned to DoubleTap37

[2021-02-28 21:42] whisky-actual commented on #24
Great job thx!

[2021-03-01 21:05] whisky-actual commented on #26
I've asked the A4-E guys and it looks like it's impossible to do it on a SFM. We would need to have the EFM. However, GRINNELLIDESIGNS did it for the F22. He's not responding to me do and the LUA file is encrypted..

[2021-03-02 02:17] whisky-actual commented on #16
I've added your sounds from the .zip to the main install keep them coming!

[2021-03-04 07:45] currenthill commented on #4
New Meteor missile added.

[2021-03-04 07:47] currenthill commented on #5
My plan is to add and tune weapon by weapon and then as a last step clean up and restructure the loadout in the base LUA.

[2021-03-04 15:34] whisky-actual commented on #4
Thanks, can we now load the 120b also?

[2021-03-04 15:36] whisky-actual commented on #5
Great stuff, thanks @currenthill !

[2021-03-04 16:24] #26 closed, assigned to luizrenault, whisky-actual

[2021-03-04 16:25] whisky-actual commented on #25
@FatSpacePanda are we talking about the D model?

[2021-03-04 16:30] #9 closed, assigned to FatSpacePanda

[2021-03-04 16:32] #1 closed

[2021-03-04 16:33] #3 closed, assigned to whisky-actual, FatSpacePanda

[2021-03-04 17:36] FatSpacePanda commented on #25
D and new C model

[2021-03-04 23:58] whisky-actual commented on #25
Ok your are sharing the task? Or you are doing it on your own?

[2021-03-05 00:42] FatSpacePanda commented on #25
Oh, Im not doing any of them I just added this so that we can keep track of whats i the works

[2021-03-05 01:15] whisky-actual commented on #25
@Breadmaker91 are you still with us? Or you are focused on something else the moment?

[2021-03-05 01:44] FatSpacePanda commented on #25
I think he is working on our cockpit atm

[2021-03-05 17:20] Talocan1 commented on #4
Is the Meteor downloadble somewhere? Sorry, I have no experience with GitHub

[2021-03-06 06:55] currenthill commented on #4
I'm adding the Rb74 (Aim-9L) and Rb99 (Aim-120B) as separate choices to the Rb98 and Rb101.

Just need to do some more testing before commit. Then we can close this one.

[2021-03-06 17:30] FatSpacePanda commented on #4
Awesome! Are you sure the sms system wont fuss?

[2021-03-06 17:55] currenthill commented on #4
Well, it is what it is. They will naturally show up as unknown, but there's no problem firing them. That'll probably be good enough for now. I we find a way to tweak the SMS down the line we'll revisit and polish it.

Gripen firing old school loadout:
https://youtu.be/sSQH4dCfgz8

[2021-03-07 00:02] FatSpacePanda commented on #4
Niiice! I thought anything not recognized by sms wouldn't work

[2021-03-07 07:44] #10 closed, assigned to currenthill, whisky-actual, FatSpacePanda

[2021-03-07 09:53] currenthill commented on #4
Rb99 (Aim-120B) has been added to JF version.

[2021-03-07 09:54] currenthill commented on #5
IRIS-T has been added to the JF version.

[2021-03-07 11:39] whisky-actual commented on #2
Not sure if this is still an issue, did we get all hard points to work?

[2021-03-07 11:40] whisky-actual commented on #4
Would it be now possibly add them to the f15 version?

[2021-03-07 12:00] currenthill commented on #2
WIP. I will disable the extra hardpoints from the master until we have figured this out. We have a couple of ideas to test.

[2021-03-08 10:12] currenthill commented on #5
I'm going to close this issue and replace it with separate issues related to the different remaining weapons.

At the time of closing of this issue the following weapons are implemented:

- AKAN M85 BK 27
- Rb74 AIM-9L
- Rb98 IRIS-T
- Rb99 AIM-120B
- Rb101 Meteor
- Rb75 AGM-65B
- GBU-12
- ARAK M70B AP
- ARAK M70B HE
- Rb15F Mk3
- LDP Litening III
- External drop tank 1100 litre

[2021-03-08 10:12] #5 closed, assigned to currenthill, FatSpacePanda

[2021-03-08 19:08] currenthill opened #28 "Change color of Rb98 IRIS-T and Rb101 Meteor to more greyish"
Change Rb98 and Rb101 to a more authentic and uniform color scheme.

[2021-03-08 19:10] currenthill opened #29 "Add GBU-49"
Add guided bomb GBU-49.

[2021-03-08 19:11] currenthill opened #30 "Add GBU-39 SDB"
Add guided bomb GBU-39 SDB.

[2021-03-08 19:11] currenthill opened #31 "Add BK90"
Add BK90 MJ1 and MJ2.

[2021-03-08 22:31] currenthill commented on #28
Colors are changed and the RoughMet for the Meteor was also updated to give it more depth.

[2021-03-08 22:31] #28 closed, assigned to currenthill

[2021-03-08 22:47] FatSpacePanda commented on #4
Did you get a chance to try out the fc3?

[2021-03-09 19:02] currenthill commented on #31
BK90 added, closing this.

[2021-03-09 19:02] #31 closed, assigned to currenthill

[2021-03-09 19:57] currenthill opened #32 "Change color of ARAK M70B"
Change color of ARAK M70B to more authentic Gripen greyish.

[2021-03-09 20:06] currenthill commented on #32
Done and commited.

[2021-03-09 20:06] #32 closed, assigned to currenthill

[2021-03-09 21:02] currenthill opened #33 "Add Rb75T AGM-65E"
Add Rb75T, the heavy version with a 290 kg warhead.

[2021-03-09 21:23] currenthill commented on #33
Added the Rb75T, closing this.

[2021-03-09 21:23] #33 closed, assigned to currenthill

[2021-03-09 23:01] whisky-actual commented on #4
yep i did and it works :)

[2021-03-11 01:39] #4 closed, assigned to currenthill, whisky-actual

[2021-03-14 20:13] #2 closed, assigned to currenthill, FatSpacePanda

[2021-03-14 20:13] #23 closed, assigned to luizrenault

[2021-03-14 20:13] #29 closed, assigned to currenthill

[2021-03-14 20:13] #30 closed, assigned to currenthill

[2021-03-26 16:37] #6 closed, assigned to DoubleTap37

[2021-03-26 16:37] #25 closed, assigned to Breadmaker91

[2021-03-26 16:38] #16 closed, assigned to Ulvar40

[2021-03-26 16:39] whisky-actual commented on #7
We need to map FC3 functions to the MFDs

[2021-03-26 16:41] whisky-actual opened #34 "Make the AG weapons work"

[2021-03-26 16:42] whisky-actual opened #35 "Add brake axis (both sides)"
Also seems that differential braking requires more code

[2021-03-26 16:43] whisky-actual opened #36 "Fix the formation lights"
I guess the arg from the Jeff and FC3 are different

[2021-03-26 16:44] FatSpacePanda opened #37 "Re-size Hud clipping mask to fill cockpit glass"
I have not been able to find the lua where this is done. Older information sources point to an empty folder

[2021-03-26 16:45] FatSpacePanda commented on #34
All guided Missiles

[2021-03-26 18:28] FatSpacePanda opened #38 "Remove any other plane names from files and in the luas"

[2021-03-26 18:30] FatSpacePanda opened #39 "Update Livery installation instruction"

[2021-03-28 13:42] whisky-actual commented on #37
@Breadmaker91 can you help us out?

[2021-03-28 13:47] whisky-actual commented on #34
Started testing sheet is here https://docs.google.com/spreadsheets/d/1ocx7OoqZa4EiH8DLde3pvrf5t6iXTTck1N7LuauKgzQ/edit?usp=sharing

[2021-03-28 13:48] whisky-actual commented on #38
What do you mean?

[2021-03-28 13:48] whisky-actual commented on #39
Will be working on that

[2021-03-28 15:09] Breadmaker91 commented on #37
Yes!
It's a matter of moving the connectors in Blender

[2021-03-28 21:00] FatSpacePanda commented on #38
To go through the files and search for any filenames or functions linking us to any other modules

[2021-03-30 00:22] whisky-actual commented on #38
Still not sure, but having a full standalone is good :)

[2021-04-03 15:54] FatSpacePanda commented on #37
We can close this, right?

[2021-04-05 22:11] #39 closed, assigned to whisky-actual

[2021-04-05 22:12] whisky-actual commented on #37
The Su25t still a bit small

[2021-04-05 22:21] whisky-actual commented on #35
@luizrenault @FatSpacePanda did you figure it out? The a29b has it in the current built

[2021-04-05 22:22] #7 closed, assigned to Breadmaker91

[2021-04-06 15:15] FatSpacePanda commented on #37
To me its the f15 thats too small

[2021-04-09 16:13] #38 closed, assigned to nobody

[2021-04-09 16:19] FatSpacePanda commented on #34
We need to decide between tv guided, laser guided that requires buddy lase or over-powered laser bombs ( essentially missiles )

[2021-04-09 16:22] FatSpacePanda opened #40 "Overlayed text when using shkval on AG version"
Altitude and laser ranger text appear on top of eachother

[2021-04-09 16:23] FatSpacePanda commented on #37
Do we need diferent cockpit edms for AA and AG?

[2021-04-10 11:03] whisky-actual commented on #37
Depending of the way the functions are maybe yes, but that's a question for @Breadmaker91

[2021-06-02 18:11] #11 closed, assigned to whisky-actual

[2021-06-02 18:11] #13 closed, assigned to Breadmaker91

[2021-06-02 18:11] #34 closed, assigned to nobody

[2021-06-02 18:11] #35 closed, assigned to nobody

[2021-06-02 18:11] #36 closed, assigned to nobody

[2021-06-04 17:31] #21 closed, assigned to whisky-actual

[2021-06-04 17:32] whisky-actual commented on #37
Seem to be impossible with FC3. Need to move the whole cockpit. We Will see if we can do something with the model.

[2021-06-06 18:36] FatSpacePanda opened #41 "Crash to desktop when ejecting and being shot down"
Game crashed when player ejects the aircraft.

2021-06-06 17:37:31.631  is when ejection is triggered
Log:
2021-06-06 17:32:03.226 ERROR_ONCE DX11BACKEND: texture 'texture' not found. Asked from 'NGMODEL'
2021-06-06 17:37:16.726 INFO    Lua: Lua CPU usage: metric: average mission execution: 1.5220 %
2021-06-06 17:37:31.631 INFO    EDCORE: try to write dump information
2021-06-06 17:37:31.633 INFO

[2021-06-06 18:41] FatSpacePanda opened #42 "Mar-1 speed."
Booster is good, march is overpowered or not necessary at all

[2021-06-06 18:58] FatSpacePanda opened #43 "Clarify Description.lua for Livery makers"
We cant skip lines like in full fid. modules. Explain true and false

[2021-06-06 19:10] FatSpacePanda opened #44 "Investigate mirrors turning black"

[2021-06-06 19:42] FatSpacePanda opened #45 "Add braking with W key"

[2021-06-06 19:43] FatSpacePanda commented on #41
Also CTD when being shot down

[2021-06-06 23:51] whisky-actual commented on #44
Solved, you need to press M to turn them on; in my Gameplay options it's not by default turned on. I had it off when I had my potato PC did not change it since.

[2021-06-06 23:51] #44 closed, assigned to nobody

[2021-06-07 14:10] FatSpacePanda commented on #41
Problem narrowed down to cockpit edm

[2021-06-07 14:17] FatSpacePanda commented on #45
![tgp overlayed text](https://user-images.githubusercontent.com/79235868/121032764-dd3c8c80-c7ab-11eb-821c-8927d0751e42.png)

[2021-06-08 04:43] bgreman opened #46 "Loadouts don't appear in Mission Editor for AG variant"
When placing an AG variant in the ME, the payload editor does not show any of the included default loadouts.  The A/A variant works fine, and the A/G loadouts do show up in the Alt+' menu in-sim.

[2021-06-08 07:13] bgreman commented on #46
This is my mistake, I think I had an incompatible task selected for the AG variant when I was looking at this.  If I choose "Nothing" for the task, all the loadouts show.

[2021-06-08 07:13] #46 closed, assigned to nobody

[2021-06-08 19:11] opa79 opened #47 "Incompatible with 2.5.5 stable version"
Addon is incompatible with DCS 2.5.5 version.
Errors are in lights section of JAS39GripenXX.lua files. Then, when indices are fixed ( [WOLALIGHT_XX] are replaced with [1], [2], etc.), weapons fail to load.

[2021-06-08 23:57] whisky-actual commented on #41
Did a test, if you blow up in exterior view you don't ctd need to test invisible and get hit

[2021-06-08 23:58] whisky-actual commented on #43
Wilco

[2021-06-09 22:00] chazmat commented on #47
You're joking, right?

[2021-06-10 08:12] fidaperkasa opened #48 "Rudder and Nosewheel"
When in ground, nosewheel steering is looks like rugged.

[2021-06-11 01:36] whisky-actual commented on #48
Could you give us more details? Maybe this is a limit of the SFM

[2021-06-11 01:37] whisky-actual commented on #47
Sorry mate, you will need to update. We can't support old branches

[2021-06-11 01:38] #41 closed, assigned to FatSpacePanda

[2021-06-11 01:39] whisky-actual opened #49 "The "Rb99 AIM-120B" seems to have the same behavior (no tracking in TWS) The AIM-120C-5 appears to work as expected in TWS."
See track file

[2021-06-11 01:45] whisky-actual opened #50 "IC issues"
I am having an issue where as soon as someone who isnt hosting the multiplayer server jumps into an aircraft they get kicked out saying client is tainted and they get a integrity failure for "models/gbu-31.edm" and "models/kingal.edm"
This issue is only for the AG variant. The AA variant worked fine

[2021-06-11 01:47] whisky-actual opened #51 "ME texture missing"
Need to fix model textures names

[2021-06-11 12:01] currenthill commented on #42
[code]

[2021-06-11 12:01] #42 closed, assigned to FatSpacePanda

[2021-06-11 14:57] whisky-actual opened #52 "IC issues gbu31"
I get this problem "pure cclient required" models/gbu-31.edm @ c:/users/user/saved games/dcs/mods/aircraft/jas39/shapes
models/kingal.edm @ c:/users/user/saved games/dcs/mods/aircraft/jas39/shapes

[2021-06-11 23:38] #47 closed, assigned to nobody

[2021-06-11 23:38] #48 closed, assigned to nobody

[2021-06-12 06:48] fidaperkasa commented on #48
yeah maybe limit of the SFM

[2021-06-14 03:57] FatSpacePanda commented on #45
Script done. Initial testing show positive results

[2021-06-14 03:58] FatSpacePanda commented on #52
Fixed

[2021-06-14 03:58] #52 closed, assigned to nobody

[2021-06-14 14:38] whisky-actual commented on #51
Thanks @currenthill !

[2021-06-14 14:38] #51 closed, assigned to currenthill, whisky-actual

[2021-06-15 15:40] #43 closed, assigned to whisky-actual

[2021-06-15 17:07] CJordense opened #53 "MAR.1 Cruising speed (ALPHA RELEASE BEFORE 15 JUNE RELEASE)"
I tested out the MAR.1 HARM Missiles earlier when the Gripen released, only to see thet their Cruising Speed is **5000 knots**. It's in order of the screenshots: 1. Just fired, 2. Acceleration till it stops accelerating for 2-3 seconds, 3. Accelerates till 5000 knots, 4. Closing in on sam site at lot's of G's.

When turning towards the target (in this case a HAWK sam site), it pulled 40 G's consta

[2021-06-15 19:06] whisky-actual commented on #53
Good stuff, did Vinedog already share the dev build because this is already fixed

[2021-06-15 20:59] CJordense commented on #53
So, this was before the new one dropped, I guess I'll have to test it out then.
Check tomorrow.

[2021-06-16 14:54] #53 closed, assigned to nobody

[2021-06-16 17:01] CJordense opened #54 "HUD Reflection Jittering when turning/pitching."
https://user-images.githubusercontent.com/85957412/122261969-322b8180-ced5-11eb-83f8-d0dd107d2385.mp4

[2021-06-16 20:29] DJTaz1975 commented on #54
Can confirm this is the case.  tested it today.

[2021-06-16 20:30] DJTaz1975 commented on #49
there seems to be an issue yes with 120b and tws.

I think its a range thing but need to test it more to confirm....

I launched 1 from 32nm and lofting it 20deg. and it went into space  120 000 ft +

a second problem seems to be since the first missile is not tracking second launch wil not go for the second locked target.
will test more to confirm.

[2021-06-17 07:24] DJTaz1975 commented on #54
Suggestion: can this reflection feature be removed completely? for me I dont see the point of having it. harder to read the screens but yes it adds realism with reflections. so I guess its a personal preference

[2021-06-17 21:11] whisky-actual commented on #54
We will investigate ,thx

[2021-06-19 04:32] CIChesty commented on #49
On the more recent dev builds the AIM-120C-5 and C-7 seem to be affected now as well. I can't get any missiles to track in TWS unless fired within pitbull range.

In STT they will track as expected and even go pitbull and keep tracking if you break the lock. In TWS I haven't had any successful launches.

[2021-06-19 05:02] CIChesty commented on #45
New wheel brake bind works great on A/A Gripen.

[2021-06-19 17:07] currenthill commented on #50
All IC errors have been taken care of.

[2021-06-19 17:07] #50 closed, assigned to FatSpacePanda

[2021-06-20 20:36] currenthill commented on #49
The TWS tracking problem has been solved.

[2021-06-20 20:36] #49 closed, assigned to nobody

[2021-06-21 20:56] DJTaz1975 commented on #45
yes works great on A/A. Brake effect on slow speed is high but if that's how it should be then its fine. But make it a bit jerky doing slow taxi and breaking but I guess its something to adapt to.

[2021-06-22 07:19] FatSpacePanda commented on #45
Noted👍. The brakes are only on/off as of now, it just allows you to bind the binary fc3 brake to an axis. I think we need the efm to get dynamic braking force

[2021-06-22 09:14] DJTaz1975 commented on #45
"Borrow" it from F-15 and tweak it to fit JAS? :)

[2021-06-23 04:48] FatSpacePanda commented on #45
I don't think F-15 has it

[2021-06-23 04:48] #45 closed, assigned to FatSpacePanda

[2021-06-25 12:19] FalcoGer opened #55 "Remove directory structure for easy update"
Currently the github project includes the directory structure for `Mods/aircraft`, however if you wanted to use git to keep the mod updated this is an issue as saved `games/dcs[.openbeta]` would need to be the root folder, allowing for no other git as well as forcing all those non related files into the local repository.

On top of that that makes working and developing the mod more difficult as y

[2021-06-26 18:21] DJTaz1975 commented on #54
@whisky-actual question, is it possible to make the reflections not so sharp? I checked the f-16 reflections and its a lot less reflections but its there. reflections adds realism but if it could be tuned down that would be better I think. but not sure if this can be customized?

[2021-06-26 22:04] whisky-actual commented on #54
We can try, the whole cockpit is being re-texture so that will be addressed

[2021-06-27 23:51] richstav commented on #55
Absolutely, agree with this. To the team, great work, and it was nice to see a DCS aircraft on github for easy updates.

[2021-06-30 01:43] whisky-actual commented on #55
If we don't keep it as-is people will need to create the Mods/aircraft/ when they d/l the mod. Currently, you just drop the folder in your DCS folder in your saved game which can or cannot be called dcs.open beta or the stable version. Finally, just a small fraction of people use GitHub as a tool. We will consider the pro's and cons

[2021-07-06 12:22] FalcoGer commented on #55
For those that do not use github, there is the release download or a download from eagle dynamic user files.

[2021-07-15 12:30] #54 closed, assigned to nobody

[2021-07-23 07:19] FatSpacePanda commented on #40
Fixed with the new aspect ratio. Closing

[2021-07-23 07:23] #40 closed, assigned to nobody

[2021-07-26 17:09] FatSpacePanda opened #56 "SDB39 not working on 2.7.4 open beta"

[2021-07-26 19:39] FatSpacePanda commented on #56
They work with the a4e installed

[2021-07-28 18:28] bgreman opened #57 "A/G Variant has some bad weapon clsids"
I'm working on updating DCS Liberation for the latest Gripen mod release.

The centerline pylon in JAS39Gripen_AG.lua specifies the old clsids for Stormshadow, GBU12, and GBU16.  That is, they use the `JAS_` prefix instead of the `JAS39_` prefix.  Other pylons on the aircraft use the proper clsids.

[2021-08-28 20:33] #56 closed, assigned to nobody

[2021-10-21 00:57] victorczon opened #59 "Cockpit Textures"
If you guys want I'll be happy with helping out with the interior cockpit textures. Maybe adding some wear and tear?

[2021-10-22 17:36] whisky-actual commented on #59
Hi,

I would suggest to ping us on our Discord : https://discord.gg/cK2CqjJSnj

Cheers,

Whisky

On Wed, Oct 20, 2021 at 8:58 PM victorczon ***@***.***> wrote:

[2021-11-06 06:11] FlankerDude opened #60 "BRU-61 3D model clipping pylon."
I've just noticed that the BRU-61 3D model is placed to high and therefore is clipping thruogh pylons.

[2021-12-27 16:34] pighunters opened #61 "missing keybinds"
i have a problem i am missing the weapon fire keybind on the gripen

[2021-12-29 01:04] whisky-actual commented on #61
Can you be more precise? Just to be clear there is no pickle button in the JAS-39, the trigger weapon changes depending on the mode you are in.

[2021-12-31 17:36] cerealexfpv opened #62 "Problem with trigger"
Hi! First, thanks for the amazing work!

I mapped the trigger fire buttom with safe trigger like release video but I can´t fire gun or other missile. (AA Gripen Version).

Thanks!

[2021-12-31 19:25] #62 closed, assigned to nobody

[2021-12-31 20:55] Signedcarp98188 opened #63 "File corruption"
Hey guys this is a issue with the website itself idont know what can you do about it but i cant download the file as it gets corrupted every time i try to download it. I tried with different browsers but still no joy

[2022-01-05 06:51] Holmes-cloud opened #64 "Invalid compressed folder"
When trying to open the file after download it gives a Compressed Folders Error and says that the file is invalid. When trying to use 7zip to open the file and move the folder it fails and gives this data error. Data error : JAS39\Textures\JAS39_AA_Weapons\ASRAAM_seeker_Nm.dds
Im not sure how to fix this.

[2022-01-05 10:07] #64 closed, assigned to nobody

[2022-01-09 19:50] #63 closed, assigned to nobody

[2022-01-23 18:11] smully1 commented on #61
For me, the trigger doesn't do anything, tutorials just say hold weapon launch, but holding trigger does nothing

[2022-01-24 23:36] whisky-actual commented on #61
Try looking at these videos: https://www.youtube.com/playlist?list=PLXSVG_BMY5bANATSqZzH9osrnklae_8wg

[2022-02-13 11:41] bradthorn55 commented on #61
Same when i go to my controls it doesn't say anything like weapon release or weapon fire but if I go to Gripen weapons it says trigger and that also does nothing

[2022-02-13 11:42] bradthorn55 commented on #61
there is no weapon fire or weapon release on the controls only trigger but that also doesn't work when trying to fire a weapon.

[2022-02-15 17:16] smully1 commented on #61
I just realised that my master arm was off and that fixed it, it's on the right side of the cockpit

[2022-03-05 01:05] Muralha49 opened #65 "Bug na manete de potencia versão 1.8.0 beta"
A manete de potencia da versão JAS 39 Gripen /Ground, não esta funcionando corretamente impedindo que o motor ganhe potencia para poder sair do lugar.

Descrição:
Ao pressionar para a manete de potencia aumentar a potencia, a manete volta sozinha para a posição "idle (posição de inicialização)" impedindo q a aeronave decole. Eu não tenho o "fc3" entretanto era para funcionar sem ele certo? entreta

[2022-03-06 21:38] fivesevenguy opened #66 "SMDB not working?"
gbu smdb does not seem to want to come off the rail i have tried for a long time to get it to work but i cannot any help?

[2022-03-12 15:25] whisky-actual commented on #66
I would suggest joining our Discord to ask help, in most cases you have a conflict with another mod.

[2022-03-12 15:25] #66 closed, assigned to nobody

[2022-03-12 15:27] whisky-actual commented on #65
If Google translated correctly you are using a keyboard for your throttle and it is not working?

[2022-03-12 15:29] #61 closed, assigned to nobody

[2022-03-12 15:30] #55 closed, assigned to nobody

[2022-03-12 15:31] whisky-actual commented on #57
Not sure to follow, all are weapons now follow the JAS39_ schema maybe Liberation was not updated?

[2022-03-12 15:31] #59 closed, assigned to nobody

[2022-03-12 15:32] whisky-actual commented on #60
Could you please post a screenshot, please?

[2022-03-17 16:41] bradthorn55 commented on #61
I found it look on the right in the cockpit and it says live or something like that move it to on or live and you will be able to fire also trigger is the thing to dire any of your weapons.

[2022-03-19 09:32] muzica9 opened #67 "problem with radio communication"
problem with radio communication for A/A version. don't receive feedback from wingman, atc, tanker etc(sound or text).

this happens since last update 2.7.11.

[2022-03-19 09:37] muzica9 opened #68 "problem with radio communication"
problem with radio communication for A/A version. don't receive feedback from wingman, atc, tanker etc(sound or text).

this happens since last update 2.7.11.

my be related to from changelog|: Added 'iCommandPlaneRefuelingReadyPreContact' command to input files of the following aircraft: A-10C, A-10C II, A-10A, F-15C, Su-33, F/A-18C, F-16C.

[2022-03-19 09:53] #67 closed, assigned to nobody

[2022-03-20 12:56] Zenturs opened #69 "No found of axi for warp and throttle"
When im going to config my JAS theres is no axio for warp and throttle

[2022-03-30 01:04] JClayt commented on #65
I translated the text and this sounds like the problem I have been having. I have tried mapping the throttle to my xbox controller shoulder buttons (like I do with every other aircraft) and it is not registering the inputs from them. Also, it is not registering the throttle inputs from the keyboard either. Throttle only works if assigned to an axis.

[2022-03-31 11:20] FlankerDude commented on #60
Sure, there you go.
![Screen_220331_131751](https://user-images.githubusercontent.com/77770012/161043667-0f6a406b-5ebc-4da8-a706-a467e65581f6.png)
![Screen_220331_131752](https://user-images.githubusercontent.com/77770012/161043680-9f66e2b3-00b5-47d0-8b65-1438d612cbfa.png)

[2022-04-02 16:06] animeweebman opened #70 "weird turning on the ground and really high roll rate"
maybe this is not a bug but i could not find anything on this from other people and it seemed kind of weird to me.

https://user-images.githubusercontent.com/102870257/161391410-a13386bf-7e97-440a-b414-e96ec5b5ae66.mp4

https://user-images.githubusercontent.com/102870257/161391405-12188243-3d1c-4b85-9338-4b6cbcec1c2b.mp4

[2022-04-13 01:55] juliancastroorozco commented on #70
I thing that is because is using the SFM

[2022-04-19 01:08] animeweebman commented on #70
can you enlighten me on what SFM and how i would turn it off or something i am unaware

[2022-04-19 01:13] dudeofawesome commented on #70
[SFM is the "Standard Flight Model"](https://www.digitalcombatsimulator.com/en/support/faq/505/), which is used for aircraft from the Flaming Cliffs 3 pack. Since this module is based on the F-15 from FC3, it also uses the SFM, and isn't something you as a user can turn off.

[2022-04-19 23:47] DCS-Pilot22 opened #71 "No weapon firing control"
I have been scouring the controls for both AA and AG variants and maybe its in an acronym I'm not seeing, but I cant find any kind of control to fire a weapon. I have weapons jettison and weapon change but no firing

[2022-04-21 15:04] animeweebman commented on #70
I'm using the A/G tho and iirc the mod says it uses the Su-25 for that I don't own FC3 though so maybe that's the problem

[2022-04-21 18:27] dudeofawesome commented on #70
My bad, you're right about the A/G variant using the Su-25T. Regardless, that module also uses a SFM.

Also, I didn't say this in my previous comment, but I'm also seeing this same instant yaw behavior on the ground.

[2022-04-22 04:11] animeweebman commented on #70
ok, well glad i'm not the only one having this, if indeed it is a bug, i hope it does get fixed

[2022-04-29 23:16] ltchungus commented on #71
yeah me too I'm also having that issue

[2022-05-16 10:28] filiph commented on #71
Had the same problem until I watched [this video](https://www.youtube.com/watch?v=uRtXBdGcmMY) and realized there's a master safety switch called MASS that has to be turned to "Live".

<img width="933" alt="Screen Shot 2022-05-16 at 12 20 57" src="https://user-images.githubusercontent.com/919717/168572316-ce255079-0ae7-4ca2-b24a-4fd73d28d5ad.png">

You can of course bind this to your keyboard. And

[2022-05-26 11:16] ronaldoks7 opened #73 "Can't control aircraft while using keyboard, responds so slowly that it basically doesnt respond"
gripen a/g responds extremely slowly to arrow keys nor throttle, despite being set properly on keybinds, but switching modes on hud and changing weapons work fine. I can roll maybe 2 degrees and pitch 4 then that's it

[2022-05-29 00:03] #73 closed, assigned to nobody

[2022-05-29 00:05] ronaldoks7 opened #74 "Perhaps a radar or helmet mounted hud could be added to the Gripen?"
If it won't be much of an inconvenience, perhaps a radar or helmet mounted hud could be added along with the aim-120? It could be a beautiful possibility

[2022-06-07 17:28] ImBandit-maker opened #75 "Throttle controls - JAS 39 GRIPEN"
So i play with an Xbox controller. And i don't have a spare Joystick for 'Throttle axis' keybind because they are already occupied. Usually there's a 'throttle up' and 'throttle down' that I use on every other aircraft. put specifically for me those don't work on the Gripen. Whenever they are pressed the throttles wont even move! they glitch back and just stay like a 10 ton brick. pls fix

[2022-06-12 13:34] filiph opened #76 "The mod introduces non-determinism into the DCS simulation - replays go out of sync"
Hi there!

First of all, I love the mod! Congrats on making it and kudos on maintaining it!

As many others, I try to make videos from my DCS adventures, but unfortunately, whenever I use this particular mod, the replays are wildly different from the gameplay. For example, I win a dogfight flying the JAS 39 against, say, the Su-27. Then I hit replay and very soon, what goes on in the replay differ

[2022-06-14 07:35] ltchungus commented on #71
thanks dude

On Mon, May 16, 2022 at 6:29 AM Filip Hracek ***@***.***>
wrote:

[2022-08-03 23:09] whisky-actual commented on #76
Hi,

It's hard to say without any more information. However, it's been a known fact that replays in DCS are broken at this moment. We could definitely investigate more in the future, but our current focus is development. Once we have a more stable version this kind of issue will be on the menu.

Thank you!

[2022-08-03 23:10] whisky-actual commented on #75
This will be addressed in a future release.

[2022-08-03 23:12] whisky-actual commented on #74
This function is based on the su33, so only fox 2. ED did not expose the code to make fox3 with the HMD

[2022-08-03 23:13] whisky-actual commented on #73
Known issues, mod is currently for joystick players

[2022-08-19 09:01] weldroid opened #77 "Ground units disappear"
I have noticed that whenever I have the Gripen mod installed under DCS (latest public beta), the ground armor units disappear. (e.g. Russian armor, BMPs, BTRs, etc.) They can still be added via the mission editor, but they do not show up in the 3D world.

[2022-08-20 08:00] Stfn-glitch opened #78 "aircraft control"
So basically the problem is that im on kbm and when i press the button for my aircraft to pitch up nothing happens same with pitch down, bank right and bank left. can u help???

[2022-09-05 04:55] swiftyr opened #79 "i cant control the aircraft usin the keyboard i cant pitch down up i cant rudder i cant throttle up or down"
i am sad

[2022-09-16 15:12] vcqx opened #80 "I can't fire weapons (cannon and missiles)"
I can't fire weapons (cannon and missiles) on the JAS 39 gripen A/A. I have tried to switch the MASS to `"Live" `and I have tried to deal with the `Weapons Safe` option too. Could anybody help me?

[2022-09-22 12:58] whisky-actual commented on #80
Check your keybindings and I would suggest joining our Discord to ask help there.

[2022-09-22 12:58] #80 closed, assigned to nobody

[2022-09-22 12:59] whisky-actual commented on #79
Will be addressed in the next relase

[2022-09-22 12:59] #79 closed, assigned to nobody

[2022-09-22 12:59] whisky-actual commented on #78
Currently the mod requires you to have a hotas, next version will have keyboard

[2022-09-22 12:59] #78 closed, assigned to nobody

[2022-09-22 13:00] whisky-actual commented on #77
It's been pointed out before, most likely an issue with a combination with other mods.

[2022-09-22 13:00] #77 closed, assigned to nobody

[2022-10-22 18:24] shaneduce opened #81 "CV not Spawn in..."
When ever I have the Mod installed no CV will spawn in.

[2022-11-15 17:16] Kel7IOT opened #82 "Can't fire my weapon for some reason"
![image](https://user-images.githubusercontent.com/118175538/201983707-232fa83a-7bc9-4a65-9f55-76a2141eb152.png)
As you can see from this image I've locked multiple targets and held space for 5 seconds or more but the weapon won't fire. I've ensured my trigger was not closed as in the 2nd picture.
![image](https://user-images.githubusercontent.com/118175538/201983911-23b2114f-0f16-48ea-967c-b054f8

[2022-11-19 13:19] swiftyr commented on #82
im having the same issue

[2022-11-22 18:31] mrbenevolentcanard commented on #82
You need to set the "MASS" to live.

[2022-11-22 18:35] mrbenevolentcanard commented on #70
It's not a bug, its a problem with all SFM's. In the next update it will be fixed cuz they'll change it to a EFM.

[2022-11-22 18:36] mrbenevolentcanard commented on #69
There is.

[2022-11-22 18:37] mrbenevolentcanard commented on #65
It'll be fixed in a later update the dev said in a other post.

[2022-11-22 23:33] animeweebman commented on #70
yo thanks for the reply after all this while, looks like i may download DCS again and give those addons a try again :)